 body {
            background: linear-gradient(to right, #fbd3e9, #bb377d);
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }

        .heading-box {
            background: linear-gradient(to right, #ffecd2, #fcb69f);
            width: 57%;
            margin: 20px auto;
            padding: 15px;
            border-radius: 15px;
            font-size: 28px;
            font-weight: bold;
            color: #333;
            font-family: "Trebuchet MS", Arial, sans-serif;
        }

        .heading-box img {
            height: 45px;
            vertical-align: middle;
            margin-right: 10px;
            border-radius: 50%;
        }


        form {
            background: linear-gradient(to bottom, #fff5ec, #00c3ff);
            width: 55%;
            margin: auto;
            padding: 35px;
            border-radius: 15px;
        }

        .form-box {
            text-align: left;
            margin-bottom: 40px;
            display: block;
        }

        label {
            font-weight: bold;
            margin-bottom: 8px;
            font-size: 18px;
            display: block;
        }

        input[type="text"],
        input[type="email"],
        select,
        textarea {
            width: 95%;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #999;
            box-shadow: 10px 4px 0px #9f9a9a
        }

        textarea {
            height: 80px;
        }

        .option-row {
            display: inline-block;
            margin-right: 15px;
            font-weight: normal;
            margin-bottom: 4px;
            
        
        }

        button {
            background: linear-gradient(to right, #ff512f, #dd2476);
            color: white;
            border: none;
            padding: 12px;
            width: 80%;
            font-size: 18px;
            border-radius: 20px;
            cursor: pointer;
        }
         